body{
    margin: 0;
}

div{
    margin: 0;
}

h1{
    position: relative;
    margin: 0;
    font-family: Formula;
    font-size: 35vw;
    color: #dfff9c;
    text-align: center;
    top: 20vh;
}

#claim{
    position: relative;
    margin: 0;
    font-family: Montreal;
    font-size: 3vw;
    text-align: center;
    color: #dfff9c;
    top: 3vh;
    
}  

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #F0F0F0;
    font-family: Montreal;
    align-items: center;
    height: 10%;
    transition: 0.4s;
}

.logo{
    padding: 10px;
    margin-left: 10%;
}

.menùol{
    font-family: montreal_bold;
    text-align: center;
    position: relative;
    top: 30%;
    padding: 10%;
    opacity: 0;
}

.menùol a{
    text-decoration: none;
    color: #F0F0F0;
}

.menù{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menù li{
    display: inline-block;
    padding: 10px;
}

.menù li a{
    color: black;
    text-decoration: none;
    display: block;
}

.cta{
    margin-right: 10%;
}

.button{
    padding: 15px;
    background-color: black;
    color: #F0F0F0;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-family: montreal_bold;
    width: 150px;
    text-align: center;
    margin-right: 10%;
}

.hamburger{
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 10%;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 0.4s;
}

.hero{
    margin: 0;
    position: relative;
    display: block;
}

#video{
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 390px) {
    .menù{
        display: none;
    }

    .cta{
        display: none;
    }

    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10%;

    }

    .breadup, .meat, .breaddown{
        background-color: black;
        display: block;
        height: 3px;
        margin-bottom: 33%;
        transition: 0.4s;
    }

    .change .breadup {
        transform: rotate(-45deg) translate(-6px, 8px);
      }
      
    .change .meat {
        opacity: 0;
    }
      
    .change .breaddown {
        transform: rotate(45deg) translate(-10px, -12px);
    }
}

@media screen and (max-width: 768px) {
    .logo{
        margin-left: 9%;
    }

    .cta{
        margin-right: 7%;
    }

    .button{
        width: 100px;
    }
}

