body{
    margin: 0;
    height: 100000px;
    width: 100vw;
}

div{
    margin: 0;
}

/*---------------------------------------------------------------------------*/
/*----------------------------       INDEX       ----------------------------*/
/*---------------------------------------------------------------------------*/

/*-------------------------------HEADER-------------------------------*/

.splash{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 10000;
    position: fixed;
    display: block;
    overflow: hidden;
}

.splash video{
    top: 0;
    left: 100vw;
    width: 100vw;
}

.header{
    width: 100vw;
    position: fixed;
    top: 0vh;
    left: 0;
    display: none;
    background-color: #F0F0F0;
    font-family: Montreal;
    align-items: center;
    height: 10vh;
    z-index: 100;
    opacity: 0;
}

.headerblack{
    width: 100vw;
    position: fixed;
    top: 0vh;
    left: 0;
    display: flex;
    background-color: black;
    font-family: Montreal;
    align-items: center;
    height: 10vh;
    z-index: 99;
    opacity: 1;
}

.logo{
    padding: 0;
    margin-left: 10vw;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .logo{
        margin-left: 17vw;
    }
}

.logob{
    padding: 0;
    margin-left: 10vw;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .logob{
        margin-left: 17vw;
    }
}

.menù{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 6vw ;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .menù{
        margin-left: 0;
    }
}

.menù li{
    display: inline-block;
    padding: 10px;
}

.menù li a{
    color: black;
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .menù{
        display: none;
    }
}

.menùb{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 6vw ;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .menùb{
        margin-left: 0;
    }
}

.menùb li{
    display: inline-block;
    padding: 10px;
    color: #F0F0F0;
}

.menùb li a{
    color: #F0F0F0;
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .menùb{
        display: none;
    }
}

.cta{
    margin-right: 10vw;
    width: 140px;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .cta{
        display: none;
    }
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .cta{
        margin-right: 7vw;
    }
}

.button{
    padding: 15px;
    background-color: black;
    color: #F0F0F0;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-family: montreal_bold;
    width: 110px;
    text-align: center;
    margin-right: 10vw;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .button{
        margin-right: 12vw;
    }
}

.buttonb{
    padding: 15px;
    background-color: #F0F0F0;
    color: black;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-family: montreal_bold;
    width: 110px;
    text-align: center;
    margin-right: 10vw;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .buttonb{
        margin-right: 12vw;
    }
}

.hamburger{
    display: none;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10vw;
    }
}

.hamburgerb{
    display: none;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .hamburgerb{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10vw;
    }
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 10vh;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 0.4s;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .breadup, .meat, .breaddown{
        background-color: black;
        display: block;
        height: 3px;
        margin-bottom: 33%;
        transition: 0.4s;
    }

    .change .breadup {
        transform: rotate(-45deg) translate(-6px, 8px);
      }
      
    .change .meat {
        opacity: 0;
    }
      
    .change .breaddown {
        transform: rotate(45deg) translate(-10px, -12px);
    }

    .breadupb, .meatb, .breaddownb{
        background-color: #F0F0F0;
        display: block;
        height: 3px;
        margin-bottom: 33%;
        transition: 0.4s;
    }

    .changeb .breadupb {
        transform: rotate(-45deg) translate(-6px, 8px);
      }
      
    .changeb .meatb {
        opacity: 0;
    }
      
    .changeb .breaddownb {
        transform: rotate(45deg) translate(-10px, -12px);
    }

    .menùol{
        font-family: montreal_bold;
        text-align: center;
        position: relative;
        top: 30vh;
        padding: 10vw;
        opacity: 0;
        font-size: 7vw;
    }

    .menùol a{
        text-decoration: none;
        color: #F0F0F0;
    }
}


/*-------------------------------TITOLO/CLAIM e CALL TO ACTION-------------------------------*/

.hero{
    background-color: #000000;
    height: 230vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: block;
}

.aboutus{
    top: 1vh;
    left: 1vw;
}

.aboutus a{
    font-family: Montreal;
    text-decoration: none;
    color: #F0F0F0;
    position: fixed;
    top: 3vh;
    left: 2vw;
    font-size: 1vw;
}

.scarica1{
    top: 1vh;
    left: 1vw;
    font-family: Montreal;
    text-decoration: none;
    color: #F0F0F0;
    position: fixed;
    top: 3vh;
    left: 42vw;
    font-size: 1vw;
}

.cerchio1{
    background-image: url(/asset/cerchiobianco.png);
    background-size: 2700% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    z-index: 3;
    position: relative;
    top: 50vh;
    left: 27.5vw;
    height: 3vw;
    width: 8vw;
}

.loghinoiniz{
    position: fixed;
    height: 5vh;
    top: 2vh;
    left: 23vw;
}

.titolo{
    position: fixed;
    top: 30vh;
    margin: 0;
    padding: 0;
    font-family: Formula;
    width: 50vw;
    z-index: 2;
    text-align: center;
    color: #F0F0F0;
}

.titolomobile{
    display: none;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .titolo{
        top: 62vh;
    }
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .titolomobile{
        display: block;
        top: 62vh;
        font-size: 35vw;
        position: fixed;
        margin: 0;
        padding: 0;
        font-family: Formula;
        width: 100vw;
        z-index: 2;
        text-align: center;
    }
    .titolo{
        display: none;
    }
}
  
.freccinascroll{
    background-image: url(/asset/freccinascroll.png);
    background-size: 3000% 100%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    z-index: 2;
    position: absolute;
    top: 87.5vh;
    left: 22vw;
    height: 5vw;
    width: 5vw;
}

.video{
    position: fixed;
    top: 1vh;
    right: 1vw;
    width: 49vw;
    height: 96.5vh;
    overflow: hidden;
    border-radius: 25px;
    z-index: 3;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .video{
        display: none;
    }
}

.videomobile{
    display: none;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .videomobile{
        display: block;
        position: fixed;
        top: 1vh;
        right: 1vw;
        width: 98vw;
        height: 60vh;
        overflow: hidden;
        border-radius: 25px;
        z-index: 3;
    }
}

.claim{
    position: absolute;
    font-family: Montreal;
    font-size: 2.5vw;
    top: 50vh;
    left: 0vw;
    color: #F0F0F0;
    width: 48vw;
    text-align: center;
}

.cerchio1{
    background-image: url(/asset/cerchiobianco.png);
    background-size: 2700% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    z-index: 3;
    position: relative;
    top: 50vh;
    left: 27.5vw;
    height: 3vw;
    width: 8vw;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .claim{
        top: 85vh;
        font-size: 5vh;
    }
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .claim{
        top: 90vh;
        font-size: 3vh;
    }
}

.claim2{
    position: absolute;
    font-family: Montreal;
    opacity: 0;
    width: 35vw;
    text-align: center;
    font-size: 2.5vw;
    top: 130vh;
    left: 1.5vw;
    color: #F0F0F0;
}

.calltoaction{
    position: absolute;
    font-family: Formula;
    font-size: 5vw;
    z-index: 5;
    width: 100vw;
    top:165vh;
    color: #DFFF9C;
    opacity: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cerchio2{
    background-image: url(/asset/cerchiobianco.png);
    background-size: 2700% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    z-index: 5;
    position: absolute;
    top: 163vh;
    left: 57vw;
    height: 8vw;
    width: 18vw;
}

.bottonecta{
    padding: 15px;
    background-color: #F0F0F0;
    color: black;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-family: montreal_bold;
    font-size: 1.5vw;
    width: 15vw;
    text-align: center;
    transition: 0.3s;
    margin-top: 2vh;
}

.bottonecta:hover{
    background-color: black;
    color: #F0F0F0;
    padding: 20px;
}

.sticker{
    position: absolute;
    z-index: 100;
}

#stickernonombra{
    position: relative;
    display: block;
}

#stickerconombra{
    position: absolute;
    display: block;
}

/*-------------------------------COSA SIAMO-------------------------------*/

.cosasiamo{
    background-color: #F0F0F0;
    top: 230vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titoletto{
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: Montreal;
    font-size: 2vw;
    width: 100vw;
    z-index: 2;
    text-align: center;
}

.cerchio3{
    background-image: url(/asset/cerchionero.png);
    background-size: 2700% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    z-index: 5;
    position: absolute;
    top: 19vh;
    left: 44vw;
    height: 3vw;
    width: 12vw;
}

.statement{
    position: relative;
    top: 30vh;
    margin: 0;
    padding: 0;
    font-family: Formula;
    font-size: 4vw;
    width: 100vw;
    z-index: 2;
    text-align: center;
}

.cerchio4{
    background-image: url(/asset/cerchionero.png);
    background-size: 2700% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    z-index: 5;
    position: absolute;
    top: 30vh;
    left: 25vw;
    height: 5vw;
    width: 27vw;
}

.esplora{
    position: relative;
    top: 40vh;
    left: 0;
    margin: 0;
    padding: 0;
    width: 13vw;
    display: flex;
    align-items: center;
    z-index: 2;
}

.bottoneesplora{
    padding: 15px;
    background-color: black;
    color: #F0F0F0;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-family: montreal_bold;
    font-size: 1.5vw;
    width: 13vw;
    text-align: center;
    transition: 0.3s;
}

.bottoneesplora:hover{
    background-color: #F0F0F0;
    color: black;
    border: 2px solid black;
}

/*-------------------------------COSA FAI-------------------------------*/

.cosafai{
    background-color: black;
    top: 330vh;
    height: 350vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: block;
    align-items: center;
    overflow: hidden;
}

.titolettosl{
    position: absolute;
    top: 10vh;
    margin: 0;
    padding: 0;
    color: #F0F0F0;
    font-family: Montreal;
    font-size: 2vw;
    width: 100vw;
    z-index: 2;
    text-align: center;
}

.slide1{
    background-color: #A07EFF;
    border-radius: 16px;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 60vh;
    width: 60vw;
    z-index: 2;
    display: block;
    align-items: center;
    align-content: center;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, 0%);
}

.organizza{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 3vh;
    left: 2vw;
    font-family: Montreal;
    font-size: 2vw;
    width: 10vw;
    z-index: 2;
    text-align: left;
}

.copyorganizza{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10vh;
    left: 2vw;
    font-family: Formula;
    font-size: 2.4vw;
    width: 30vw;
    z-index: 2;
    text-align: left;
}

.img1{
    position: absolute;
    margin: 0;
    padding: 1vw;
    right: 0;
    z-index: 2;
}

.bottonescopri{
    padding: 15px;
    background-color: black;
    position: absolute;
    color: #F0F0F0;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-family: montreal_bold;
    font-size: 1.5vw;
    width: 13vw;
    text-align: center;
    top: 45vh;
    left: 12vw;
}

.slide2{
    background-color: #DFFF9C;
    border-radius: 16px;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 60vh;
    width: 60vw;
    z-index: 2;
    display: block;
    align-items: center;
    align-content: center;
    top: 20vh;
    left: 85vw;
} 

.gioca{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 3vh;
    left: 2vw;
    font-family: Montreal;
    font-size: 2vw;
    width: 10vw;
    z-index: 2;
    text-align: left;
}

.copygioca{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10vh;
    left: 2vw;
    font-family: Formula;
    font-size: 2.4vw;
    width: 30vw;
    z-index: 2;
    text-align: left;
}

.img2{
    position: absolute;
    margin: 0;
    padding: 1vh;
    right: 2vw;
    z-index: 2;
}

.slide3{
    background-color: #FA4928;
    border-radius: 16px;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 60vh;
    width: 60vw;
    z-index: 2;
    display: block;
    align-items: center;
    align-content: center;
    top: 20vh;
    left: 150vw;
} 

.condividi{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 3vh;
    left: 2vw;
    font-family: Montreal;
    font-size: 2vw;
    width: 10vw;
    z-index: 2;
    text-align: left;
}

.copycondividi{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10vh;
    left: 2vw;
    font-family: Formula;
    font-size: 2.4vw;
    width: 30vw;
    z-index: 2;
    text-align: left;
}

.img3{
    position: absolute;
    margin: 0;
    padding: 1vh;
    right: 2vw;
    z-index: 2;
}

/*-------------------------------OBIETTIVI-------------------------------*/

.obiettivi{
    background-color: #F0F0F0;
    top: 680vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
}

.titoletto{
    position: absolute;
    top: 20vh;
    margin: 0;
    padding: 0;
    font-family: Montreal;
    font-size: 2vw;
    width: 100vw;
    z-index: 2;
    text-align: center;
}

.statement2{
    position: absolute;
    top: 30vh;
    left: 1.5vw;
    margin: 0;
    padding: 0;
    font-family: Formula;
    font-size: 4vw;
    width: 70vw;
    z-index: 2;
    text-align: left;
}

.screencommunity{
    position: absolute;
    margin: 0;
    padding: 1vw;
    top: 30vh;
    right: 0;
    vertical-align: middle;
    z-index: 2;
}

/*-------------------------------COMMUNITY & RECENSIONI-------------------------------*/

.community{
    background-color: black;
    top: 780vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: block;
    align-items: center;
}

.titoletto2{
    position: absolute;
    top: 10vh;
    margin: 0;
    padding: 0;
    color: #F0F0F0;
    font-family: Montreal;
    font-size: 2vw;
    width: 100vw;
    z-index: 2;
    text-align: center;
}

.rec1{
    position: absolute;
    background-color: #DFFF9C;
    border-radius: 30px;
    font-family: Montreal;
    width: 15vw;
    height: 40vh;
    margin: 0;
    padding: 0;
    top: 20vh;
    left: 5vw;
    transform: translate(-50%, -50%);
    display: block;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
}

.contenitorerec1{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgrec1{
    height: 25vh;
    overflow: hidden;
}

.textrec1{
    margin: 2vh;
    width: 13vw;
}

.prof1{
    display: flex;
    vertical-align: middle;
}

.nomerec1{
    position: relative;
    font-family: montreal_bold;
    margin: 1vw;
    width: 12vw;
    height: 1vh;
    padding: 0;
}

.profilorec1{
    width: 3vw;
    height: 3vw;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 30px;
}

.rec2{
    position: absolute;
    background-color: #FA4928;
    border-radius: 30px;
    font-family: Montreal;
    width: 35vw;
    height: 15vh;
    margin: 0;
    padding: 0;
    top: 20vh;
    left: 22vw;
    transform: translate(-50%, -50%);
    display: flex;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
}

.contenitorerec2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgrec2{
    width: 30vw;
    height: auto;
    overflow: hidden;
}

.textrec2{
    margin: 2vh;
    width: 20vw;
}

.prof2{
    display: flex;
    vertical-align: middle;
}

.nomerec2{
    position: relative;
    font-family: montreal_bold;
    margin: 1vw;
    width: 12vw;
    height: 1vh;
    padding: 0;
}

.profilorec2{
    width: 3vw;
    height: 3vw;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 30px;
}

.rec3{
    position: absolute;
    background-color: #A07EFF;
    border-radius: 30px;
    font-family: Montreal;
    width: 15vw;
    height: 17vh;
    margin: 0;
    padding: 0;
    top: 64vh;
    left: 5vw;
    transform: translate(-50%, -50%);
    display: flex;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
}

.contenitorerec3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textrec3{
    margin: 2vh;
    width: 13vw;
}

.prof3{
    display: flex;
    vertical-align: middle;
}

.nomerec3{
    position: relative;
    font-family: montreal_bold;
    margin: 1vw;
    width: 12vw;
    height: 1vh;
    padding: 0;
}

.profilorec3{
    width: 3vw;
    height: 3vw;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 30px;
}

.rec4{
    position: absolute;
    background-color: #DFFF9C;
    border-radius: 30px;
    font-family: Montreal;
    width: 35vw;
    height: 42vh;
    margin: 0;
    padding: 0;
    top: 39vh;
    left: 22vw;
    transform: translate(-50%, -50%);
    display: block;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
}

.contenitorerec4{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgrec4{
    height: 27vh;
    overflow: hidden;
}

.textrec4{
    margin: 2vh;
    width: 33vw;
}

.prof4{
    display: flex;
    vertical-align: middle;
}

.nomerec4{
    position: relative;
    font-family: montreal_bold;
    margin: 1vw;
    width: 12vw;
    height: 1vh;
    padding: 0;
}

.profilorec4{
    width: 3vw;
    height: 3vw;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 30px;
}

.rec5{
    position: absolute;
    background-color: #FA4928;
    border-radius: 30px;
    font-family: Montreal;
    width: 35vw;
    height: 15vh;
    margin: 0;
    padding: 0;
    top: 20vh;
    left: 59vw;
    transform: translate(-50%, -50%);
    display: flex;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
}

.contenitorerec5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgrec5{
    width: 30vw;
    height: auto;
    overflow: hidden;
}

.textrec5{
    margin: 2vh;
    width: 20vw;
}

.prof5{
    display: flex;
    vertical-align: middle;
}

.nomerec5{
    position: relative;
    font-family: montreal_bold;
    margin: 1vw;
    width: 12vw;
    height: 1vh;
    padding: 0;
}

.profilorec5{
    width: 3vw;
    height: 3vw;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 30px;
}

.rec6{
    position: absolute;
    background-color: #DFFF9C;
    border-radius: 30px;
    font-family: Montreal;
    width: 35vw;
    height: 42vh;
    margin: 0;
    padding: 0;
    top: 39vh;
    left: 59vw;
    transform: translate(-50%, -50%);
    display: block;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
}

.contenitorerec6{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgrec6{
    height: 27vh;
    overflow: hidden;
}

.textrec6{
    margin: 2vh;
    width: 33vw;
}

.prof6{
    display: flex;
    vertical-align: middle;
}

.nomerec6{
    position: relative;
    font-family: montreal_bold;
    margin: 1vw;
    width: 12vw;
    height: 1vh;
    padding: 0;
}

.profilorec6{
    width: 3vw;
    height: 3vw;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 30px;
}

/*-------------------------------CAMERETTA-------------------------------*/

.ctadadefinire1{
    background-color: #FA4928;
    top: 880vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.statement3{
    position: relative;
    top: 30vh;
    margin: 0;
    padding: 0;
    font-family: Formula;
    font-size: 5vw;
    line-height: 12vh;
    width: 100vw;
    z-index: 2;
    text-align: center;
}

.scarica{
    position: relative;
    top: 40vh;
    left: 0;
    margin: 0;
    padding: 0;
    width: 13vw;
    display: flex;
    align-items: center;
    z-index: 2;
}

.bottonescarica{
    padding: 15px;
    background-color: black;
    color: #F0F0F0;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-family: montreal_bold;
    font-size: 1.5vw;
    width: 13vw;
    text-align: center;
}

/*-------------------------------FOOTER-------------------------------*/
.footer{
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #F0F0F0;
    font-family: montreal_bold;
    font-size: 1.5vw;
    width: 100vw;
    height: 33vh;
    top: 980vh;
    margin: 0;
    text-align: left;
    z-index: 100;
}

.footerup{
    display: flex;
    justify-content: space-around;
    padding: 10vh;
}

.blocchetto a{
    display: flex;
    flex-direction: column;
    color: #F0F0F0;
    font-family: Montreal;
    font-size: 1vw; 
    text-decoration: none;
}

.footerdown{
    color: #F0F0F0;
    font-family: Montreal;
    font-size: 0.5vw;
    width: 50vw;
    position: relative;;
    left: 37.5vw;
  }

/*-------------------------------TRIGGER INDEX-------------------------------*/

.trigger1{
    position: absolute;
    top: 52vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.trigger2{
    position: absolute;
    top: 0vh;
    left: 0;
    width: 10vw;
    height: 8vh;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.trigger3{
    position: absolute;
    top: 40vh;
    left: 0;
    width: 10vw;
    height: 24vh;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.trigger4{
    position: absolute;
    top: 52vh;
    left: 0;
    width: 10vw;
    height: 12vh;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.trigger5{
    position: absolute;
    top: 80vh;
    left: 0;
    width: 10vw;
    height: 10vh;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.trigger6{
    position: absolute;
    top: 100vh;
    left: 0;
    width: 10vw;
    height: 30vh;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.trigger7{
    position: absolute;
    top: 130vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.trigger8{
    position: absolute;
    top: 110vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.triggerheaderb1{
    position: absolute;
    top: 220vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

.triggerheaderb2{
    position: absolute;
    top: 670vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

.triggerheaderw1{
    position: absolute;
    top: 320vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

.triggerslider{
    position: absolute;
    top: 320vh;
    left: 0;
    width: 10vw;
    height: 260vh;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}

.triggerheaderw2{
    position: absolute;
    top: 770vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

/*---------------------------------------------------------------------------*/
/*----------------------------   SCOPRI DI PIÙ   ----------------------------*/
/*---------------------------------------------------------------------------*/

/*-------------------------------HEADER 1 & FOOTER-------------------------------*/
.header1{
    width: 100vw;
    position: fixed;
    top: 0vh;
    left: 0;
    display: flex;
    background-color: #F0F0F0;
    font-family: Montreal;
    align-items: center;
    height: 10vh;
    z-index: 100;
}

.headerblack1{
    width: 100vw;
    position: fixed;
    top: 0vh;
    left: 0;
    display: flex;
    background-color: black;
    font-family: Montreal;
    align-items: center;
    height: 10vh;
    z-index: 101;
    opacity: 0;
}

.footerscopri{
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #F0F0F0;
    font-family: montreal_bold;
    font-size: 1.5vw;
    width: 100vw;
    height: 33vh;
    top: 700vh;
    margin: 0;
    text-align: left;
    z-index: 100;
}
/*-------------------------------SCOPRI: ORGANIZZA-------------------------------*/
.audioplayer{
    position: fixed;
    display: flex;
    bottom: 5vh;
    right: 5vw;
    z-index: 100;
    width: 12.5vw;
}

.rotate{
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
/*-------------------------------SCOPRI: ORGANIZZA-------------------------------*/

.scopri_organizza{
    background-color: #A07EFF;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
}

.titoletto3{
    position: relative;
    top: 15vh;
    margin: 0;
    padding: 0;
    font-family: Montreal;
    font-size: 2vw;
    width: 100vw;
    z-index: 2;
    text-align: center;
}

.statement4{
    position: relative;
    top: 20vh;
    left: 5vw;
    margin: 0;
    padding: 0;
    font-family: Formula;
    font-size: 5vw;
    line-height: 12vh;
    width: 90vw;
    z-index: 2;
    text-align: left;
}

/*-------------------------------SCREEN ORGANIZZA-------------------------------*/

.screen_organizza{
    background-color: #F0F0F0;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.ctascreen{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Formula;
    font-size: 2vw;
    width: 20vw;
    text-align: center;
    z-index: 2;
}

.txtscreen{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Montreal;
    font-size: 1vw;
    width: 20vw;
    text-align: center;
    z-index: 2;
}

/*-------------------------------SCOPRI: GIOCA-------------------------------*/

.scopri_gioca{
    background-color: #DFFF9C;
    top: 200vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
}

/*-------------------------------SCREEN GIOCA-------------------------------*/

.screen_gioca{
    background-color: #F0F0F0;
    top: 300vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/*-------------------------------SCOPRI: CONDIVIDI-------------------------------*/
.scopri_condividi{
    background-color: #FA4928;
    top: 400vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
}

/*-------------------------------SCREEN CONDIVIDI-------------------------------*/

.screen_condividi{
    background-color: #F0F0F0;
    top: 500vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/*-------------------------------CAMERETTA 2-------------------------------*/

.ctadadefinire2{
    background-color: #A07EFF;
    top: 600vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*-------------------------------TRIGGER SCOPRI-------------------------------*/

.triggers1{
    position: absolute;
    top: 90vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

.triggers2{
    position: absolute;
    top: 190vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

.triggers3{
    position: absolute;
    top: 290vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

.triggers4{
    position: absolute;
    top: 390vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

.triggers5{
    position: absolute;
    top: 490vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

.triggers6{
    position: absolute;
    top: 590vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}
/*-------------------------------CHI SIAMO-------------------------------*/

.headerblack2{
    width: 100vw;
    position: fixed;
    top: 0vh;
    left: 0;
    display: flex;
    background-color: black;
    font-family: Montreal;
    align-items: center;
    height: 10vh;
    z-index: 101;
    opacity: 0;
}

/*-------------------------------VALORI-------------------------------*/

.valori{
    background-color: #FA4928;
    margin: 0;
    padding: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
}

.video1{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 30vh;
    right: 5vw;
    width: 43vw;
    height: 60vh;
    overflow: hidden;
    border-radius: 25px;
    z-index: 3;
}

/*-------------------------------VALORI SLIDE-------------------------------*/

.valorislide{
    background-color:black;
    margin: 0;
    padding: 0;
    top: 100vh;
    height: 350vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
}

.slidesx{
    display: flex;
    flex-direction: column;
}

.descrizione{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 2vw;
    bottom: 3vh;
    font-family: Montreal;
    font-size: 1.4vw;
    width: 30vw;
    text-align: left;
    z-index: 2; 
}

.img1{
    margin: 0;
    padding: 0;
    right: 2vw;
    height: 53vh;
    overflow: hidden;
    border-radius: 25px;
}

.slidec1{
    background-color: #A07EFF;
    border-radius: 16px;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 60vh;
    width: 60vw;
    z-index: 2;
    display: block;
    align-items: center;
    align-content: center;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, 0%);
}

.slidec2{
    background-color: #DFFF9C;
    border-radius: 16px;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 60vh;
    width: 60vw;
    z-index: 2;
    display: block;
    align-items: center;
    align-content: center;
    top: 20vh;
    left: 85vw;
}

.slidec3{
    background-color: #FA4928;
    border-radius: 16px;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 60vh;
    width: 60vw;
    z-index: 2;
    display: block;
    align-items: center;
    align-content: center;
    top: 20vh;
    left: 150vw;
} 

.titolettosl2{
    position: absolute;
    top: 10vh;
    margin: 0;
    padding: 0;
    color: #F0F0F0;
    font-family: Montreal;
    font-size: 2vw;
    width: 100vw;
    z-index: 2;
    text-align: center;
}
/*-------------------------------CREW-------------------------------*/

.crew{
    background-color: #F0F0F0;
    top: 450vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    align-items: center;
}

.crew1{
    top: 30vh;
    margin: 1vw;
    background-color: #A07EFF;
    border-radius: 25px;
    height: 60vh;
}

.crew2{
    top: 30vh;
    margin: 1vw;
    background-color: #DFFF9C;
    border-radius: 25px;
    height: 60vh;
}

.crew3{
    top: 30vh;
    margin: 1vw;
    background-color: #FA4928;
    border-radius: 25px;
    height: 60vh;
}

.crew4{
    top: 30vh;
    margin: 1vw;
    background-color: #A07EFF;
    border-radius: 25px;
    height: 60vh;
}

.crew5{
    top: 30vh;
    margin: 1vw;
    background-color: #DFFF9C;
    border-radius: 25px;
    height: 60vh;
}

.crew6{
    top: 30vh;
    margin: 1vw;
    background-color: #FA4928;
    border-radius: 25px;
    height: 60vh;
}

.crew7{
    top: 30vh;
    margin: 1vw;
    background-color: #A07EFF;
    border-radius: 25px;
    height: 60vh;
}

.imgcrew1{
    margin: 0;
    padding: 0;
    height: 45vh;
    overflow: hidden;
    border-radius: 25px 25px 0 0;
}

.nomecrew{
    position: relative;
    margin: 0;
    padding: 0;
    top: 4vh;
    font-family: Formula;
    font-size: 1.5vw;
    width: 25vw;
    text-align: center;
    z-index: 2;
}

.txtcrew{
    position: relative;
    margin: 0;
    padding: 0;
    top: 4vh;
    font-family: Formula;
    font-size: 1vw;
    width: 25vw;
    text-align: center;
    z-index: 2;
}

.titolettocrew{
    position: absolute;
    top: 460vh;
    margin: 0;
    padding: 0;
    font-family: Montreal;
    font-size: 2vw;
    width: 100vw;
    z-index: 2;
    text-align: center;
}

.freccinaorizzontale{
    background-image: url(/asset/freccinascrollnera.png);
    background-size: 3000% 100%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    z-index: 2;
    position: absolute;
    top: 531vh;
    left: 95vw;
    height: 5vw;
    width: 3vw;
    transform: rotate(-90deg);
}

/*-------------------------------CAMERETTA 3-------------------------------*/

.ctadadefinire3{
    background-color: #DFFF9C;
    top: 550vh;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*-------------------------------FOOTER CHI SIAMO-------------------------------*/

.footercrew{
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #F0F0F0;
    font-family: montreal_bold;
    font-size: 1.5vw;
    width: 100vw;
    height: 33vh;
    top: 650vh;
    margin: 0;
    text-align: left;
    z-index: 100;
}

/*-------------------------------TRIGGER CHI SIAMO-------------------------------*/

.triggerc1{
    position: absolute;
    top: 440vh;
    left: 0;
    width: 10vw;
    height: 1px;
    border: 1px solid black;
    z-index: 1000;
    display: none;
}

.triggerc2{
    position: absolute;
    top: 90vh;
    left: 0;
    width: 10vw;
    height: 260vh;
    border: 1px solid rebeccapurple;
    z-index: 1000;
    display: none;
}