body{
    margin: 0;
    height: 100000px;
    width: 100vw;
}

div{
    margin: 0;
}

/*-------------------------------HEADER-------------------------------*/

.header{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #F0F0F0;
    font-family: Montreal;
    align-items: center;
    height: 10vh;
    transition: 0.4s;
    z-index: 99;
}

.logo{
    padding: 0;
    margin-left: 16vw;
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .logo{
        margin-left: 9vw;
    }
}

.menù{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.menù li{
    display: inline-block;
    padding: 10px;
}

.menù li a{
    color: black;
    text-decoration: none;
    display: block;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .menù{
        display: none;
    }
}

.cta{
    margin-right: 10vw;
    width: 140px;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .cta{
        display: none;
    }
}

@media screen and (max-width: 768px) { /*  Ipad mini  */
    .cta{
        margin-right: 7vw;
    }
}

.button{
    padding: 15px;
    background-color: black;
    color: #F0F0F0;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-family: montreal_bold;
    width: 110px;
    text-align: center;
    margin-right: 10vw;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10vw;
    }
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 10vh;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 0.4s;
}

@media screen and (max-width: 390px) { /*  Telefono  */
    .breadup, .meat, .breaddown{
        background-color: black;
        display: block;
        height: 3px;
        margin-bottom: 33%;
        transition: 0.4s;
    }

    .change .breadup {
        transform: rotate(-45deg) translate(-6px, 8px);
      }
      
    .change .meat {
        opacity: 0;
    }
      
    .change .breaddown {
        transform: rotate(45deg) translate(-10px, -12px);
    }

    .menùol{
        font-family: montreal_bold;
        text-align: center;
        position: relative;
        top: 30vh;
        padding: 10vw;
        opacity: 0;
        font-size: 7vw;
    }

    .menùol a{
        text-decoration: none;
        color: #F0F0F0;
    }
}


/*-------------------------------TITOLO E CLAIM-------------------------------*/

.titolo{
    position: relative;
    margin: 0;
    font-family: Formula;
    font-size: 8vw;
    color: #dfff9c;
    text-align: center;
    top: 30vh;
}

@media screen and (max-width: 390px) { /*  Telefono  */

    .titolo{
        position: absolute;
        margin: 0;
        font-family: Formula;
        font-size: 8vw;
        color: #dfff9c;
        text-align: center;
        width: 10vw;
        top: 30vh;
        left: 45vw;
    }
}

.claim{
    position: absolute;
    margin: 0;
    font-family: Montreal;
    font-size: 3vw;
    text-align: center;
    color: #dfff9c;
    top: 50vh;
    width: 50vw;
    left: 25vw;
    opacity: 100;
} 

.hero{
    margin: 0;
    position: absolute;
    display: block;
    height: 300vh;
    z-index: 0;
    background-color: black;
    left: 0;
    width: 100vw;
}


.video{
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

/*-------------------------------TRIGGER-------------------------------*/

.trigger1{
    position: absolute;
    top: 50vh;
    z-index: 100;
    height: 500px;
    width: 1px;
}

.trigger3{
    position: absolute;
    top: 50vh;
    z-index: 100;
    height: 70px;
    width: 1px;
}

.trigger2{
    position: absolute;
    top: 150vh;
    z-index: 100;
    height: 500px;
    width: 1px;
}

/*-------------------------------TAGLINES E RESIZED VIDEO-------------------------------*/

.tagline1{
    position: absolute;
    margin: 0;
    font-family: Montreal;
    font-size: 3vw;
    text-align: center;
    color: #dfff9c;
    top: 87vh;
    width: 85vw;
    left: 5vw;
    opacity: 0;
}

.tagline2{
    position: absolute;
    margin: 0;
    font-family: Formula;
    font-size: 5vw;
    text-align: center;
    color: #dfff9c;
    top: 175vh;
    width: 85vw;
    left: 5vw;
    opacity: 0;
    z-index: 100;
}

.buttonbig{
    position: relative;
    opacity: 0;
    padding: 15px;
    background-color: #F0F0F0;
    color: black;
    display: inline-block;
    text-decoration: none;
    border-radius: 90px;
    font-family: montreal_bold;
    font-size: 1.4vw;
    width: 250px;
    height: 50px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    top: 100vh;
    left: 40.5vw;
}

